@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 70%;
  }
  @media screen and (min-width: 1024px) {
    width: 50%;
  }
}

img,
picture {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  font-family: 'Young Serif', sans-serif;
  font-optical-sizing: auto;
}

h3,
p {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
}

/* Begin normal CSS */

h1 {
  @apply text-dark-charcoal;
}

h2 {
  @apply text-nutmeg;
}

h3 {
  @apply text-dark-raspberry-100;
}

p {
  @apply font-light;
}

.divider {
  @apply bg-light-grey;
  @apply w-full;
  @apply mb-5 mt-5;
  height: 1px;
}

.divider--small {
  @apply bg-light-grey;
  @apply w-full;
  @apply mb-2 mt-2;
  height: 1px;
}

.p--text-nutmeg {
  @apply text-nutmeg;
}
